$font-primary: 'Poppins', serif;
$font-secundary:'Permanent Marker', cursive;

@mixin font-light {
    font-family: $font-primary;
    font-weight: 300;
}

@mixin font-regular {
    font-family: $font-primary;
    font-weight: 400;
}

@mixin font-medium {
    font-family: $font-primary;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font-secundary;
    font-weight: 600;
}